.header {
  position: relative;
  padding: 0;
  width: 100%;
  .btn {
    @extend %link;
    border-radius: 20px;
    color: $color-accent;
  
    background-color: $color-text-white;
    border: none;
  
    &:hover,
    &:focus {
      background-color: $color-accent-hover-btn;
    }
  }
}
html {
  scroll-behavior: smooth;
}

.header a {
  text-decoration: none;
}
.container.header {
  position: absolute;
  display: flex;
  z-index: 11;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (min-width: 768px) {
    padding-top: 37px;
  }
  @media (min-width: 1200px) {
    padding-left: 5px;
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1200px;
  }
}
.logo {
  @extend %link;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-accent;
  font-family: Titan One;
  font-size: 26px;
  width: 200px;
  height: 100%;
  transition: 250ms;
  &:hover,
  &:focus {
    color: $color-accent;
    text-decoration: none;
    @extend %scale_function;
  }
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  fill: currentColor;
  background-color: $color-text-white;
  border-radius: 100%;
}
.menu-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 492px;
  width: inherit;
  padding-top: 60px;
  @media (max-width: 1199px) {
    position: fixed;
    z-index: 21;
    top: 0;
    right: 0;
    width: 250px;
    background-color:$color-menu ;
    display: none;
    &.is-open {
      display: block;
      overflow-y: auto;
    }
  }
  @media (min-width: 768px) {
    height: 399px;
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    padding-top: 0;
    margin-left: 110px;
  }
}
.menu-nav {
  color: $color-text-white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  & .menu {
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      & .menu-item:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
}
.menu-item-link {
  display: block;
  height: 42px;
  padding-left: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: $color-text-white;
  text-decoration: none;
  border: 1px solid $color-line-modal;
  &:hover,
  &:focus {
    color: $color-accent;
    text-decoration: none;
  }
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;

    font-size: 16px;
    border: none;
    padding: 0%;
    transition: 250ms;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  color: $color-text-white;
  background-color: $color-accent;
  transition: 250ms;
  fill: $color-accent;
  &:hover,
  &:focus {
    transform: scale(1.1);
    outline: 0;
  }
  @media (min-width: 1200px) {
    display: none;

  }
}
.menu-button-icon.close {
  display: none;
}
.menu-button.is-open {
  position: fixed;
  top: 23px;
  right: 34px;
  z-index: 21;
  & .menu-button-icon.close {
    display: block;
    fill: currentColor;
  }
}

.menu-button-icon.open {
  fill: currentColor;

  .menu-button.is-open & {
    display: none;
  }
}
.menu-container-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  width: 100vw;
  height: 100vh;
  .menu-container.is-open + & {
    display: block;
  }
}

.buy-now {
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
  margin-left: 21px;
  font-weight: 700;
  font-size: 16px;
  transition: 250ms;
  box-shadow: none;
  &:hover,
  &:focus {
    transform: scale(1.1);
    outline: 0;
    background-color:$color-accent-hover-btn;
  }
  @media (min-width: 1200px) {
    width: 160px;
  }
  @media (min-width: 1200px) {
    margin: 0;
  }
}

.buy-now.tablet {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 30px;
  width: 160px;
  .menu-container.is-open + & {
    display: none;
  }

  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

.buy-now-img {
  width: 6px;
  height: 8px;
  margin-left: 26px;
}

