<header class="">
  <div class="container header" id="header">
    <a href="" class="logo">
      <svg class="logo-img">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
      ICECREAM
    </a>
    <div class="menu-container" id="menu-container" data-menu>
      <button class="buy-now btn" type="button">Buy now
        <svg class="buy-now-img">
            <use href="./images/symbol-defs.svg#icon-Vector1"></use>
          </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu">
          <li class="menu-item">
            <a href="#header" class="menu-link">Home</a></li>
          <li class="menu-item">
            <a href="#locations" class="menu-link">About us</a></li>
          <li class="menu-item">
            <a href="#production" class="menu-link">How it’s made?</a></li>
          <li class="menu-item">
            <a href="#products" class="menu-link">Our products</a></li>
          <li class="menu-item">
            <a href="#footer" class="menu-link">Contact</a></li>
        </ul>
      </nav>
      <div class="menu-container-overlay"></div>
    </div>
    <button class="buy-now tablet btn" type="button" data-modal-open2>Buy now
      <svg class="buy-now-img">
        <use href="./images/symbol-defs-1.svg#icon-Vector1"></use>
      </svg>
    </button>
    <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
      <svg width="24px" height="24px" aria-label="Мобильное меню">
        <use
          class="menu-button-icon open"
          href="./images/symbol-defs.svg#icon-Burger"
        ></use>
        <use
          class="menu-button-icon close"
          href="./images/symbol-defs.svg#icon-close"
        ></use>
      </svg>
    </button>
  </div>
</header>
