<section class="home">
  <div class="home-title">
    <H1>
      <p>ice cream made with</p>
      <p>passion</p>
    </H1>
    <ul class="">
      <a href="#">Products</a>
      <a href="#">How it’s made?</a>
    </ul>
  </div>
  <div class="home-pink-circle"></div>
  <div class="home-ice-cream"></div>
  <div class="home-trend">
    <p>16 <span>cafes</span></p>
    <p>23 <span>food trucks</span></p>
  </div>
  <div class="home-milk"></div>
  <div class="home-text">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugit expedita nostrum harum officia ea a cumque modi, iste facere!
    </div>
  </div>
  <div class="home-icon"></div>
  <div class="home-girl"></div>
</section>