<section class="home">
  <div class="home-title">
    <H1>
      <p>ice cream made with</p>
      <p>passion</p>
    </H1>
    <ul class="">
      <a href="#">Products</a>
      <a href="#">How it’s made?</a>
    </ul>
  </div>
  <div class="home-pink-circle"></div>
  <div class="home-ice-cream"><img src="./images/mobile/home/home_ice.png" alt=""></div>
  <div class="home-score">
    <ul class="home-score-list">
      <li class="home-score-item"><span>16</span>cafes</li>
      <li class="home-score-item"><span>23</span>food trucks</li>
    </ul>
  </div>
  <div class="home-milk"><img src="./images/desktop/home/milk.png" alt=""></div>
  <div class="home-text">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Earum fugit expedita nostrum harum officia ea a cumque modi, iste facere!
    </div>
  </div>
  <div class="home-icon"></div>
  <div class="home-girl"><img src="./images/desktop/home/tastly.png" alt=""></div>
</section>